apiVersion: v1
kind: Secret
metadata:
  name: bluejay-secrets
  namespace: governify-bluejay
type: Opaque
stringData:
  # DNS
  SERVICES_PREFIX: .bluejay
  DNS_SUFFIX: .k8s.governify.io

  # Infrastructure location
  GOV_INFRASTRUCTURE: http://bluejay-assets-manager/api/v1/public/infrastructure.yaml

  # Assets Manager
  USER_ASSETS: user
  PASS_ASSETS: pass
  KEY_ASSETS_MANAGER_PRIVATE: bluejay-assets-private-key

  # Scope Manager
  KEY_SCOPE_MANAGER: bluejay-scopes-private-key

  # Render
  USER_RENDER: user
  PASS_RENDER: pass

  # Service Keys
  KEY_GITHUB: key
  KEY_PIVOTAL: key
  KEY_TRAVIS_PUBLIC: key
  KEY_TRAVIS_PRIVATE: key
  KEY_HEROKU: key
  KEY_CODECLIMATE: key
  NEW_RELIC_LICENSE_KEY: key
  SENDGRID_API_KEY: key

  # INTERNAL_ASSETS_URL
  # INTERNAL_SCOPE_URL

  # External URLS
  RENDER_URL: http://localhost:30100
  ASSETS_MANAGER_URL: http://localhost:30200
  REPORTER_URL: http://localhost:30300
  REGISTRY_URL: http://localhost:30400
  COLLECTOR_EVENTS_URL: http://localhost:30500
  DASHBOARD_URL: http://localhost:30600
  SCOPE_MANAGER_URL: http://localhost:30700
  DIRECTOR_URL: http://localhost:30800
